# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Spyke.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Keys\Gaame\Spyke\.idea\.idea.Spyke\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
